p.text-center 
    img.img-rounded(src="https://camo.githubusercontent.com/cd7c93a56a40f0cc2a294171ae39155fee68abaf/687474703a2f2f692e696d6775722e636f6d2f674661554236362e706e67")

h3.text-center {{ "What is Alseed ?" | translate }}

p.text-center {{ "Alseed is a seed project which give to you a good structure for build an AngularJS application." | translate }}

br
p.text-center
    a.btn.btn-primary.btn-lg(href="https://github.com/Olousouzian/Alseed", role="button") {{ "Fork project on GitHub" | translate }}