<div class="col-md-6 col-md-offset-3">

    <span ng-if="vm.dataLoading" us-spinner></span>
    <h2 class="text-center">Mot de passe oublié</h2>

    <form name="form" ng-submit="vm.forget()" role="form">

        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">

            <p>Un email vient de vous être envoyé mentionnant votre nouveau mot de passe.</p>

            <label for="username">
                Identifiant
            </label>

            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">
                Identifiant obligatoire
            </span>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">
                Envoyer
            </button>
            <a href="#/login" class="btn btn-link">
                Annuler
            </a>
        </div>
        
    </form>
</div>
