<div class="col-md-6 col-md-offset-3">
    <h2>Mot de passe oublié</h2>
    <form name="form" ng-submit="vm.forget()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">

            <p>Un email vous sera envoyer vous indicant votre nouveau mot de passe.</p>
            <label for="username">Identifiant ou mot de passe</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Envoyer</button>
            <span ng-if="vm.dataLoading" us-spinner></span>
            <a href="#/login" class="btn btn-link">Annuler</a>
        </div>
    </form>
</div>
