div.modal.fade
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", ng-click="close(false)", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title {{ "Demande confirmation" | translate }}
            div.modal-body
                p {{ "Vos changements vont être écrasés." | translate }}
                p {{ "Souhaitez-vous tout de même continuer ?" | translate }}
            div.modal-footer
                button.btn.btn-default(type="button", ng-click="close(false)", data-dismiss="modal") {{ "Non" | translate }}
                button.btn.btn-primary(type="button", ng-click="close(true)", data-dismiss="modal") {{ "Oui" | translate }}