div.row
    div.col-xs-12.col-sm-6(style="background-color:orange;") {{ "Inscriptions" | translate }}
       div.row
            div.col-xs-12.col-sm-6(style="background-color:orange;height:100px;") {{ vm.usersTotal }} {{ "Users total registered" | translate }}
            div.col-xs-12.col-sm-6(style="background-color:orange;height:100px;") {{ vm.usersMonth }} {{ "Users registered this month" | translate }}
       div.row
            div.col-xs-12.col-sm-6(style="background-color:orange;height:100px;") {{ vm.salon }} {{ "Registered Shows" | translate }}
            div.col-xs-12.col-sm-6(style="background-color:orange;height:100px;") {{ vm.salonEli }} {{ "Eligible Shows" | translate }}
    div.col-xs-12.col-sm-6(style="background-color:green;height:220px;") {{ "Utilisation" | translate }}
        div.row
            div.col-xs-12.col-sm-6(style="background-color:green;height:100px;") {{ vm.quizByUser }} {{ "Quiz completed by users" | translate }}
            div.col-xs-12.col-sm-6(style="background-color:green;height:100px;") {{ vm.quizBySalon }} {{ "Quiz completed by show" | translate }}

div.row
    div.col-xs-12.col-sm-6(style="background-color:orange;") {{ "Selling" | translate }}
        div.row
            div.col-xs-12.col-sm-6(style="background-color:orange;height:100px;") {{ vm.vente }} {{ "Reported Sales" | translate }}
            div.col-xs-12.col-sm-6(style="background-color:orange;height:100px;") {{ vm.venteMonth }} {{ "Reported sales this month" | translate }}
        div.row
            div.col-xs-12.col-sm-6(style="background-color:orange;height:100px;") {{ vm.venteByUser }} {{ "Sales reported by users" | translate }}
            div.col-xs-12.col-sm-6(style="background-color:orange;height:100px;") {{ vm.venteBySalon }} {{ "Sales reported by show" | translate }}
    div.col-xs-12.col-sm-6(style="background-color:green;") {{ "Points and orders" | translate }}
         div.row
            div.col-xs-12.col-sm-6(style="background-color:green;height:100px;") {{ vm.pointUsers }} {{ "Points paid on user accounts" | translate }}
            div.col-xs-12.col-sm-6(style="background-color:green;height:100px;") {{ vm.pointSalon }} {{ "Points available on the lounges accounts" | translate }}
         div.row
            div.col-xs-12.col-sm-6(style="background-color:green;height:100px;") {{ vm.pointUsing }} {{ "Points Spent" | translate }}
            div.col-xs-12.col-sm-6(style="background-color:green;height:100px;") {{ vm.present }} {{ "Orders Gifts" | translate }}