doctype html
html(ng-app='app')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title AngularJS Login Seed
    // Include CSS stylesheets
    link(href='css/vendor.css', rel='stylesheet')
    link(href='css/app.css', rel='stylesheet')
    link(ng-if='theme.themeMark', href='{{ theme.path }}', rel='stylesheet')
    // ! CSS
  body
    // Menu
    div(ng-if='menuAvalaible', ng-include="'menu/menu-view.html'")
    // !Menu
    // Body App
    .container
      .col-sm-8.col-sm-offset-2
        // Alerts
        div(ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }", ng-if='flash', ng-bind='flash.message')
        // !Alerts
        // NgView
        div(ng-view='')
        // !NgView
    // !Body App
    // Include Bower Javascript components files
    script(src='js/vendor.js')
    // !Bower Javascript
    // Incluce Our Application
    script(src='js/app.js')
    // !Javascript
