h1 {{ "Editer Les CGU" | translate }}
    p.form-group
        label(for="content") {{ "Contenu :" | translate }}
        div#content(text-angular, ng-model="vm.terms")
    a.btn.btn-danger.pull-right(ng-click="vm.Reset()") {{ "Reset" | translate }}
    a.btn.btn-success(ng-click="vm.Save()") {{ "Enregistrer" | translate }}