div.col-md-6.col-md-offset-3
    span(ng-if="vm.dataLoading", us-spinner)
    p.text-center 
        img.img-rounded.img-responsive(src="https://camo.githubusercontent.com/cd7c93a56a40f0cc2a294171ae39155fee68abaf/687474703a2f2f692e696d6775722e636f6d2f674661554236362e706e67")

    form(name="form", ng-submit="vm.login()", role="form")
        div.form-group(ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }")
            label(for="username") {{ "Login" | translate }}
            input#username.form-control(type="text", name="username", ng-model="vm.username", required)
            span.help-block(ng-show="form.username.$dirty && form.username.$error.required") {{ "Login is required" | translate }}

        div.form-group(ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }")
            label(for="password") {{ "Password" | translate }}
            input#password.form-control(type="password" name="password" ng-model="vm.password" required)
            span(ng-show="form.password.$dirty && form.password.$error.required" class="help-block") {{ "Password is required" | translate }}

        div.form-actions
            button.btn.btn-primary(type="submit", ng-disabled="form.$invalid || vm.dataLoading") {{ "Log in" | translate }}
            a.btn.btn-link(href="#/forget") {{ "Forgot password ?" | translate }}