h1 {{ "Gestionnaire d'articles" | translate }}

p {{ "Search by title :" | translate }}

div
    a.pull-right.btn.btn-primary.btn.xs(href="#/news/add")
        span.glyphicon.glyphicon-plus
    input(type="text", ng-model="search.titre")

div.list-group(infinite-scroll="vm.loadMore()", infinite-scroll-distance="2")
    div.actu.list-group-item(id="news{{ item.id }}", ng-repeat="item in vm.news | filter:search.titre")
        h2.list-group-item-heading {{ item.title }}
            a.pull-right.btn.btn-danger.btn.xs(ng-click="vm.delete(this, $index)")
                span.glyphicon.glyphicon-remove
            a.pull-right.btn.btn-success.btn.xs(href="#/news/{{ item.id }}")
                span.glyphicon.glyphicon-pencil
        p.small.text-primary
            span.label(ng-class="{'label-success': item.active, 'label-danger': !item.active}") {{ item.active ? 'active' : 'inactive' }}
            span  {{ "Créée le :" | translate }} {{ item.created_at * 1000 | date:'dd/MM/yyyy HH:mm':'UTC' }} 
            span.text-success(ng-if="item.created_at != item.updated_at") {{ "Mise à jour le :"}} {{ item.updated_at * 1000 | date:'dd/MM/yyyy HH:mm':'UTC' }}
        p.small.text-primary {{ "Début de publication:" | translate }} {{ item.publish_start * 1000 | date:'dd/MM/yyyy HH:mm':'UTC' }} 
            span.text-danger(ng-if="item.publish_end") {{ "Fin de publication :"}} {{ item.publish_end * 1000 | date:'dd/MM/yyyy HH:mm':'UTC' }}
        p.list-group-item-text {{ item.content }}