h1 Navigation
p Cette page vous permet de gérer l'ordre des rubriques du menu ainsi que leurs libellés.

div(ui-tree)
    ol(ui-tree-nodes="", ng-model="vm.items" id="tree-root")
        li(ng-repeat="item in vm.items", ui-tree-node)
            div.panel
                div.panel-heading
                    h4 {{ item.label }}
                        a.pull-right.btn.btn-success.btn.xs(data-nodrag, ng-click="vm.edit(item)")
                            span.glyphicon.glyphicon-pencil
                div.panel-collapse.collapse(ng-class="{'in': item.editing}")
                    div.panel-body
                        p Modifier le label de l'élément
                        p
                            input(type="text", ng-model="item.temp")
                        p.warning(ng-if="item.error") {{ item.error }}
                        p
                            input(type="submit", value="Valider", ng-click="vm.updateItem(item)")

p
    input(type="submit", value="Enregistrer", ng-click="vm.saveItems()")

